.contacts {
    height: 100vh;
    background-color: #f6e4d0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title {
    font-weight: bold;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

.form input {
    background-color: #bebebe;
    margin-bottom: 10px;
}

.form textarea {
    background-color: #bebebe;
    margin-bottom: 50px;
}

@media (max-width: 680px) {
    .form {
        width: 400px
    }
}
@media (max-width: 450px) {
    .form {
        width: 200px
    }
}


