@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variable';

.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}



.skillsBlock {
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  gap: 80px;
}


@media screen and (max-width: 992px) {
    .skillsBlock {
      padding: 20px 100px;
    }
}
@media screen and (max-width: 810px) {
    .skillsBlock {
      padding: 20px 50px;
    }
}
@media screen and (max-width: 740px) {
    .skillsBlock {
      justify-content: space-around;
    }
}




