.myWork {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 150px;
    width: 100%;
    border: 1px solid;
    text-align: center;
}

.header h2 {
    display: inline;
    background-color: #bebebe;
}

.worksBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width:670px) {
    .worksBlock {
        justify-content: center;
    }
}