@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';


.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  &::before {
    @include pseudo();
    width: 436px;
    height: 172px;
    background: #fdb301;
    margin: auto;
    transform: perspective(34px) rotateX(161deg) rotateY(324deg);
    top: 454px;
    z-index: -100;
    border-radius: 20px;
    left: 73px;
  }

  .photo {
    width: 400px;
    height: calc(100vh - 200px);
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    background-image: url("../../assets/images/photo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 100;
  }
  .info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    & .infoTitle {
      @include fontSettings(51px, 62px, 700, $primaryColor);
      margin: 18px 0 10px;
      position: relative;
      padding-left: 70px;
      &::before {
        @include pseudo();
        left: 0;
        top: 29px;
        height: 4px;
        width: 40px;
        border-radius: 10px;
        background-color: $primaryColor;
      }
    }
    & .infoSubtitle {
      @include fontSettings(41px, 62px, 700, var(#{--text-color-default}));
      text-transform: uppercase;
    }
    & p {
      font-family: Open Sans,sans-serif;
      font-size: 16px;
      line-height: 35px;
      margin-bottom: 30px;
      color: var(#{--text-color-default});
    }
  }
}











