.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navItem a {
    text-decoration: none;
    background-color: #bebebe;
}
.navItem {
    margin-right: 2px;
}
.navItem:last-child {
    margin-right: 0;
}