@import '../../common/styles/sass/variable';
@import '../../common/styles/sass/mixins';

.nav {
  position: fixed;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;

  .navItem {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 50px;
    background-color: #2b2a2b;

    &:hover {
      background-color: $primaryColor;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      @include font-source-sans(12px, $textColor, 500);
      text-decoration: none;
      cursor: pointer;

      &.active {
        letter-spacing: 1.3px;
        background-color: $primaryColor;
        border-radius: 18px;
        & span {
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &:hover {
        letter-spacing: 1.3px;
      }

      &:hover span {
        font-size: 12px;
        margin-left: 10px;
      }

      span {
        font-size: 0;
        transition: .3s;
      }
    }

    .image {
      height: 20px;
      margin: 0 8px;
    }
  }

}




