@import '../../../common/styles/sass/variable';


.header {
    display: block;
    margin: 0 auto 20px;
    color:var(#{--text-color-default});
}

.headerText {
    font-size: 36px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    & span {
        color: $primaryColor
    }
}