
$textColor: #fff;
$primaryColor: #fdb301;
$bgColor: #111112;

$body-background-dark: #000;
$body-background-light: #fff;


:root {
  // body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-dark});

  // text-color


}